*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Reload-Ligth;
  src: url(./assets/fuentes/Reload-Light.otf);
}

@font-face {
  font-family: Reload-Regular;
  src: url(./assets/fuentes/Reload-Regular.otf);
}

@font-face {
  font-family: Reload-Medium;
  src: url(./assets/fuentes/Reload-Medium.otf);
}

@font-face {
  font-family: Reload-Bold;
  src: url(./assets/fuentes/Reload-Bold.otf);
}


:root {
  --bg-color: #000000;
  --ligth-color: #ffffff;
  --font: 'Reload-regular';
}

html {
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--ligth-color);
  font-family: var(--font);
  width: 100%;
}

#root {
  overflow: hidden;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #000000b6;
  backdrop-filter: blur(5px);
  padding: 10px;
  z-index: 4;
}

.container-logo {
  height: 100%;
}

.container-sound {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin: 5px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: 2;
}

.logo {
  height: 100%;
}

.header button {
  width: 100%;
}

.hero-video {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-muted {
  background-color: transparent;
  border: none;
  outline: none;
}

.biography {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 30px;
}

.info-biography h2 {
  font-size: 18px;
  font-family: Reload-Ligth;
  font-weight: lighter;
  margin-bottom: 20px;
}

.info-biography p {
  font-size: 22px;
  font-family: Reload-Bold;
  margin-bottom: 30px;
}



.download-bio a {
  height: 40px;
  text-decoration: none;
  color: var(--ligth-color);
  padding: 10px 20px;
  background-color: var(--bg-color);
  border: 1px solid var(--ligth-color);
  transition: all .3s ease;
}

.download-bio a:hover {
  background-color: var(--ligth-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.img-biography {
  height: 100%;
  width: 100%;
  max-height: 500px;
}

.img-biography img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dates {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}

.dates video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
}

.container-dates::-webkit-scrollbar {
  width: 5px;

}

.container-dates::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.container-dates::-webkit-scrollbar-thumb {
  background-color: var(--ligth-color);
  border-radius: 10px;
  border: 3px solid transparent;
}



.container-dates {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0 20px;
  height: 80vh;
  overflow-y: scroll;
}

.container-date {
  border-bottom: 1px solid var(--ligth-color);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-date {
  display: flex;
  align-items: center;
  padding: 7px;
}

.info-date time {
  margin-right: 20px;
  font-size: 30px;
}

.info-date strong {
  font-size: 30px;
  font-family: Reload-Bold;
  margin-right: 20px;
}

.info-date p {
  font-size: 15px;
  font-family: Reload-Regular;
  margin-right: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: var(--bg-color);
  padding: 10px 25px;
  font-family: Reload-Bold;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.btn-7 {
  background: var(--ligth-color);
  line-height: 35px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--ligth-color);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: var(--ligth-color);
  background-color: var(--bg-color);
  transition: background-color ease .6s;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--ligth-color);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}

.title-music {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: Reload-Bold;
}

.music {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

.music iframe {
  margin-bottom: 30px;
}

.galery {
  width: 100%;
  background-position: center center;
  padding: 20px 0;
  background-image: url("./assets/galery/image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container-galery {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 auto;
  align-items: center;

}

.container-galery div {
  width: 100%;
}

.container-galery img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

/* Social links */

.social-links {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.social-links h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.container-social-links {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}

.social-link {
  width: 60px;
  height: 60px;
  border: 2px solid var(--ligth-color);
  cursor: pointer;
  padding: 10px;
}

.social-link img {
  width: 100%;
  height: 100%;
}

.social-link:hover {
  transform: scale(1.12);
}

/* footer */

.footer {
  width: 100%;
  padding: 50px 0;
}

.container-footer {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.container-footer img {
  width: 150px;
  height: 100%;
}

.container-footer h3 {
  font-size: 30px;
  margin-bottom: 10px;

}

.container-footer a {
  text-decoration: none;
  color: var(--ligth-color);
  opacity: 0.5;
  font-size: 22px;
  margin-bottom: 5px;
  transition: all .3s ease;
}

.container-footer a:hover {
  opacity: 1;

}

.bookin img {
  width: 30px;
  height: 30px;
}

.bookin {
  display: flex;
  flex-direction: column;
}

/* loader */
.loader-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 5;
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: #4b4b4b;
  transform: rotateX(65deg) rotate(45deg);
  transform: perspective(200px) rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px
  }

  90%,
  100% {
    box-shadow: 20px 20px 0 -4px
  }
}

@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1)
  }

  100% {
    transform: translate(-25px, -25px) scale(1)
  }
}

.user-muted {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.muted-container {
  position: relative;
  display: grid;
  place-content: center;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
}

.muted-container button {
  padding: 8px 16px;
  font-size: 18px;
  font-family: Reload-Bold;
}

.container-unmuted {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.container-unmuted button {
  padding: 8px 16px;
  font-size: 18px;
  font-family: Reload-Bold;
}

/* sound wave */

#bars {
  height: 30px;
  position: absolute;
  right: 50%;
  width: 20px;
  margin-top: -40px;
}

.bar {
  background: #ffffff;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}

.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}

.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}

.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}

.bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}

@media (max-width: 780px) {
  .biography {
    display: flex;
    flex-direction: column;

  }

  .dates {
    margin-top: 50px;
  }


  .container-date {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-date {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .img-biography img {
    max-height: 500px;
  }

  .info-biography p {
    font-size: 20px;
  }

  .dates video {
    transform: translate(0px);
  }

  .animate-eart {
    animation: unset;

  }

  .dates video {
    height: 90vh;
  }

  .container-dates {
    margin-top: -40px;
  }

  .galery {
    padding: 20px 0;
  }

  .container-galery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container-galery img {
    max-height: none;
  }
}

@media (max-width: 520px) {
  .container-social-links {
    gap: 10px;
  }

  .social-link {
    width: 50px;
    height: 50px;
    border: 2px solid var(--ligth-color);
    cursor: pointer;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
  }

  .container-footer a {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .container-social-links {
    gap: 5px;
  }

  .social-link {
    width: 40px;
    height: 40px;
    border: 2px solid var(--ligth-color);
    cursor: pointer;
  }
}